header{
    background-color: #BBBBBB;
    padding: 20px 0;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.nav{
    position: absolute;
    top: 110px;
    right: 0px;
}

.nav li{
    display: inline;
    margin-left: 15px;
}

.nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.nav a:hover{
    color: #BBBBBB;
    background-color: #000000;
    border-radius: 10px;
    padding: 5px;
}

.produtos {
    width: 940;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;
}

.produtos li{
    display: inline-block;
    width: 20%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li:hover{
    border-color: #BBBBBB;
}

.produtos li:active{
    border-color: green;
}

.produtos li:hover h2{
    font-size: 38px;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.produto-descriçao{
    font-size: 18px;
}

.produto-preço{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: url(./imagens/bg.jpg);
    padding: 40px 0px;
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0;
}